
      <div id="addRecipe">
        <h3>Add a new recipe:</h3>
        <form id="formular" action="/add" method="post">
          <table>
            <tr>
              <td>Name : </td>
              <td><input type="text" name="name" required /></td>
            </tr>
            <tr>
              <td>Description : </td>
              <td><textarea name="description" required></textarea></td>
            </tr>
            <tr>
              <td>Ingredients : </td>
              <td><span class="ingredients"><input type="text" name="ingredients" required /></span></td>
            </tr>
            <tr>
              <td>
                <button
                  type="button"
                  onclick="addIngredient()"
                  title="Add a new ingredient"
                >
                  +
                </button>
              </td>
              <td><button type="submit">Add</button></td>
            </tr>
          </table>
        </form>
      </div>

      <h3>List of recipes</h3>
      <% recipesList.forEach(recipe=> { %>

        <table>
          <tr>
            <td>
              <form action="/delete" method="post">
                <input type="hidden" name="id" value="<%= recipe._id %>" />
                <button class="delete">X</button>
              </form>
            </td>
            <td><a href="/<%= recipe._id %>"><%= recipe.name %></a></td>
          </tr>
        </table>
        <% }); %>
    <script>
      var i = 0;
      // Adds an ingredient input field to the recipe form.
      function addIngredient() {
        const champDiv = document.getElementById("addRecipe");

        const form = champDiv.querySelector("form");

        const ligne = form.querySelector("tbody").rows[2];
        const spanIngredient = ligne.querySelector("span.ingredients");

        const newInput = document.createElement("input");
        newInput.type = "text";
        newInput.name = "ingredients[" + i++ +"]";
        newInput.required = true;

        spanIngredient.appendChild(newInput);
      }
    </script>

